<?xml version="1.0"?>
<config>
  <modules>
    <Dubden_bootstrap-green>
      <version>0.1.0</version>
    </Dubden_bootstrap-green>
  </modules>
  <global>
    <page>
      <layouts>
        <dubdenhome translate="label">
          <label>Dubden Home Template</label>
          <template>page/dubdenhome.phtml</template>
          <layout_handle>LAYOUT_HANDLE</layout_handle>
        </dubdenhome>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
</config>